<header>
  <h2>Begin of Header (partial)</h2>
  <h1><<< {{pageTitle}} >>></h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/help.html">Help</a></p>
  <p><a href="/bad">Bad</a></p>
  <h2>End of Header (partial)</h2>
</header>
