<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>:LUMOZ: WebSite</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here ABOUT this WebSite</p>
    {{> footer}}
  </body>
</html>
